pykeen==1.11.1

scikit-learn==1.7.0
scipy==1.15.3
pillow==11.3.0
rapidfuzz==3.13.0
tensorboardx==2.6.4
wandb==0.20.1
tqdm==4.67.1

torch==2.7.1
torch-cluster==1.6.3+pt27cu128
torch-geometric==2.6.1
torch-max-mem==0.1.4
torch-ppr==0.0.8
torch-scatter==2.1.2+pt27cu128
torch-sparse==0.6.18+pt27cu128
torch-spline-conv==1.2.2+pt27cu128

sentence-transformers==5.0.0
transformers==4.53.0
peft==0.15.2

